@media only screen and (min-width: 1340px) {
    .container {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 992px) and (max-width:1074px) {
    .spotlight-card h4 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 320px) and (max-width:991px) {
    .comman-heading {
        font-size: 25px;
    }

    .hot-sellers {
        padding-bottom: 25px;
    }

    .why-us h3,
    .spotlight h2,
    .hot-sellers-cards,
    .hot-sellers h1 {
        padding-top: 40px;
    }

    .spotlight-cards {
        padding-top: 40px;
        padding-bottom: 0px;
        justify-content: center;
    }

    .hot-sellers-cards {
        justify-content: center;
    }

    .hot-sellers-card {
        margin-bottom: 25px;
    }

    .hot-sellers-card h4 {
        font-size: 12px;
    }

    .recent-work .card-body h4,
    .spotlight-card h4 {
        font-size: 20px;
    }

    .spotlight-card {
        margin-bottom: 20px;
    }

    .spotlight-card img {
        width: 100%;
    }

    .our-valued h3 {
        padding-top: 40px;
        line-height: 30px;
    }

    .logos-slider {
        margin-top: 40px;
    }

    .footer,
    .whyus-cards {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .subscribe-form,
    .social-links {
        text-align: center;
    }

    .subscribe-form h6 {
        font-size: 16px;
    }

    .copywrite-text p {
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .kitchan-slider .owl-nav .owl-next,
    .kitchan-slider .owl-nav .owl-prev {
        margin-top: -20px !important;

    }

    .tapdata{
    width: 100%;
    }
    .chair img{
    height: 80px;
    width: 100%;
    }
    .chair h5 {
    font-weight: 500;
    text-decoration: underline;
    font-size: 12px;
}
.prodet{
    padding-top: 20px;
    float: left;
    width: 70%;
}
.prodet p{
    margin: 10px;
}
.proimg{
    float: left;
    width: 30%;
}
.check{
    padding: 5px 20px;
    background-color: black!important;
}
.sub{
    text-align: right;
    
}
.tabrow {
    width: 100%;
    margin: auto;
}
.tabrow ul li {
    text-align: left;
    
    font-size: 12px;
}
.carousel{
    height: auto;
}
.prodetdel { 
    font-size: 21px;  
}
.feature h1 {
    
    font-size: 21px; 
}
.feat h2 {
    font-size: 18px;
}
.prosingle h1 {
    font-size: 22px;
}
.carousel-item img {
    width: 100%;
}
.img-fluid {
    height: inherit!important;
    width: 100px!important;
    border: 1px solid lightgrey;
}

.baspokebanner h2{
    font-size: 21px;
    margin: 50px 0px 25px;
}
.woodright, .woodleft{
    text-align: center;
}
.pokcontent {
    
    
    
    width: 100%;
    margin: auto;
    padding: 20px 0px 50px;

}
.inputfild{
    margin-top: 30px;
    width: 100%;
    
}
.signform{
    border-right: none;
    
    margin-top: 30px;
}
.formright button{
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    
}
.formright h2 {
    font-size: 21px;
    
}
.formright{
    margin-top: 50px;
    margin-bottom: 50px;
}
.signform h2 {
    font-size: 21px;
    
}

.order-items{
    margin-top: 40px;
}
.o-details{
    position: inherit;
    top: 0px;
    margin:20px auto;
    padding: 7px 15px;

}
}